@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $white;
    font-family: $inter;
    color: $black;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

.left-screen {
    width: 50%;
}

.right-screen {
    width: 50%;
}

@media (max-width: 768px) {

    .left-screen {
        width: 100%;
    }

    .right-screen {
        display: none;
        width: 0;
    }
}

// Container

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.form-container {
    max-width: 445px;
    margin: 0 auto;
}

@media (max-width: 1200px) {

    .container {
        max-width: 960px;
    }

    .form-container {
        max-width: 430px;
    }
}

@media (max-width: 992px) {

    .container {
        max-width: 720px;
    }

    .form-container {
        max-width: 310px;
    }
}

@media (max-width: 768px) {
    
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .form-container {
        margin-left: 20px;
        margin-right: 20px;
        max-width: 100%;
    }
}

// Rows

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-default {
    display: flex;
}

.row-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-phone-default {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {

    .row-phone, .row-phone-default {
        flex-wrap: wrap;
    }

    .row-default {
        display: block;
    }
}

.row-both {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 992px) {

    .row-both {
        flex-wrap: wrap;
    }
}